<div class="question-card">
  {{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}{{question.title}}{{/text.headline}}
      {{#text.subhead}}<small>from <em>{{question.user.name}}</em></small>{{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
  <p>{{question.body}}</p>
  {{/card.content}}
  {{#card.actions}}
    {{#paper-button}}Upvote{{/paper-button}}
    {{#paper-button}}Downvote{{/paper-button}}
    {{#paper-button}}See Answers{{/paper-button}}
  {{/card.actions}}
{{/paper-card}}
</div>
