<div class="header-h1">
  <h1>Most recent questions</h1>
</div>
<div class="layout-column layout-align-space-around-start all-questions">
  {{#each model as |question|}}
    {{question-tile question=question saveQuestion='saveQuestion' saveAnswer='saveAnswer' userid=session.currentUser.uid}}
  {{/each}}
</div>
